body {
    background-color:#333;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
}

#toolsMenu {
    font-family:monospace;
    size:5pt;
    color: #CCC;
}

builderMenu {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
}

tool {  
    font-family: monospace;
    font-size: 10;
}